:root {
  --color_text: #000000;
  --color_text-2: #808080;
  --color_tag: #545454;
  --color_background: #ffffff;
  --color_background_2: #e2e8f0;
  --color_background_2_alt: #e2e8f0;
  --color_accent: #fa8b00;
  --color_accent_secondary: #ffc67f;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color_text: #ffffff;
    --color_tag: #cecece;
    --color_background: #000000;
    --color_background_2: #2f3235;
    --color_background_2_alt: #e2e8f0;
  }
}

html {
  font-family: "Meiryo", sans-serif;
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--color_background);
  color: var(--color_text);
}
body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
fieldset {
  border-color: var(--color_text);
  border-radius: 4px;
}
p {
  margin: 0;
}
input[type="checkbox"] {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.5rem;
  vertical-align: middle;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}
input[type="checkbox"]:focus {
  outline-color: transparent;
  box-shadow: 0 0 3px 1px var(--color_accent);
}
label {
  word-break: keep-all;
}
::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color_accent);
  border-radius: 4px;
}
header {
  display: grid;
  grid-template-columns:
    minmax(2rem, 1fr)
    minmax(auto, 70ch)
    minmax(2rem, 1fr);
}
header > * {
  grid-column: 2;
  justify-self: center;
}
.header_main > div {
  text-align: center;
}
.title_icon {
  max-width: 50vw;
  width: 20rem;
  height: auto;
  pointer-events: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.content > div {
  margin-top: 10rem;
}
div.wrapper {
  display: grid;
  grid-template-columns:
    minmax(1rem, 1fr)
    minmax(auto, 80ch)
    minmax(1rem, 1fr);
}
div.content {
  display: block;
  overflow: initial;
  grid-column: 2;
}
.tag-filter {
  padding: 1rem 0.5rem;
}
.filter_element {
  display: inline-block;
  margin: 0.5rem;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
input.invisible-Control {
  /* 不可視ボタン */
  width: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  pointer-events: none;
}
.checkbox-body {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;
  align-items: center;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}
.checkbox-body-text {
  margin: 0 0 0 0.5rem;
  min-width: 8rem;
}
input:disabled + .checkbox-body:hover {
  cursor: auto;
}
.checkbox-body-box {
  /* はこ */
  display: grid;
  border: 3px solid var(--color_accent_secondary);
  background-color: var(--color_background);
  border-radius: 6px;
  width: 1.5rem;
  height: 1.5rem;
  place-items: center;
}
input:not(:disabled):focus + .checkbox-body .checkbox-body-box,
input:not(:checked) + .checkbox-body:hover .checkbox-body-box {
  /* フォーカス時に枠色変更 */
  border-color: var(--color_accent_secondary);
}
input:not(:disabled):checked + .checkbox-body > .checkbox-body-box {
  /* チェック時の色 */
  background-color: var(--color_accent);
}
.checkbox-body-checkMark {
  /* チェックマーク */
  display: block;
  color: var(--color_background);
  text-align: center;
}
input:not(:disabled):not(:checked):focus + .checkbox-body .checkbox-body-checkMark,
input:not(:disabled):not(:checked) + .checkbox-body:hover .checkbox-body-checkMark {
  /* フォーカス、ホバー時に色変更 */
  color: var(--color_text-2);
}
.tag {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.tag span {
  display: inline-block;
  background-color: var(--color_tag);
  border-radius: 1rem;
  padding: 0 0.5rem;
  color: var(--color_background);
  word-break: break-word;
  margin: 4px 0;
}
.tool-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  transition-duration: 2s;
  transition-property: height;
  height: auto;
  word-break: break-all;
}
.tool-card {
  padding: 0.5rem;
}
.tool-description {
  border: 1px solid var(--color_text);
  border-radius: 0.5rem;
  transition-duration: 1s;
  box-sizing: border-box;
  height: 100%;
}
.tool-description:hover {
  transition-duration: 1s;
  box-shadow: 0px 0 15px 0px var(--color_text);
}
.tool-description > a {
  text-decoration: none;
}
.tool-description-inner {
  padding: 1rem;
}
.tool-description-img {
  height: 2.5rem;
  pointer-events: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.tool-description-header {
  margin: 0.5rem 0;
}
.tool-description-header .title {
  color: var(--color_text);
  margin: 0;
}
.tool-description-header .title .sub_title {
  display: block;
  font-size: medium;
}
.tool-description-header .tag {
  margin: 0;
  font-size: 0.8rem;
}
.tool-description-content {
  color: var(--color_text);
}
footer {
  /* フッター */
  margin-top: 5rem;
  background-color: var(--color_background_2);
  display: grid;
  grid-template-columns:
    minmax(1rem, 1fr)
    minmax(auto, 90%)
    minmax(1rem, 1fr);
}
.footer_wrapper {
  grid-column: 2;
  display: inline-flex;
  justify-content: space-between;
  margin: 1rem 0;
}
.footer_wrapper > div {
  align-items: center;
}
.footer_wrapper * {
  display: inline-flex;
  margin: 0;
}
.footer_title img {
  width: 4rem;
  pointer-events: none;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.footer_title h2 {
  font-size: large;
}
.footer_title .footer_credit {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 2px solid var(--color_text-2);
  color: var(--color_tag);
  display: inline-block;
}
.footer_title .footer_credit p {
  display: inline-block;
}
.footer_title .footer_credit a {
  color: var(--color_text);
  text-decoration: none;
}
.footer_menu ul.footer_menu_info {
  list-style: none;
  padding: 0;
}
.footer_menu ul.footer_menu_info li {
  margin: 0 0.2rem;
}
.footer_menu ul.footer_menu_info a {
  padding: 0.2rem;
  transition-duration: 0.5s;
  transition-property: opacity;
}
.footer_menu ul.footer_menu_info a:hover {
  opacity: 0.5;
}
.footer_menu ul.footer_menu_info svg {
  width: 2rem;
  color: var(--color_text);
}
